#!/bin/bash
#
# Copyright (C) 2020-2022 by UsergeTeam@Github, < https://github.com/UsergeTeam >.
#
# This file is part of < https://github.com/UsergeTeam/Userge > project,
# and is released under the "GNU v3.0 License Agreement".
# Please see < https://github.com/UsergeTeam/Userge/blob/master/LICENSE >
#
# All rights reserved.


# ----------- REQUIRED ----------- #


# Get them from https://my.telegram.org/
API_ID="15530521"
API_HASH="9caead9fc6a5f596e9f1f8dc5cec507f"


# Mongodb url from https://cloud.mongodb.com/
# comment below line if you are going to use docker !
DATABASE_URL="mongodb+srv://Bot:Perumal123@cluster0.iykp1.mongodb.net/?retryWrites=true&w=majority"


# Telegram Log Channel ID
LOG_CHANNEL_ID="-1001665962042"

G_DRIVE_CLIENT_ID="281811221931-8f4o0s02j3bim0feda03cu8v202pvvnd.apps.googleusercontent.com"

G_DRIVE_CLIENT_SECRET="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"

G_DRIVE_IS_TD="True"

G_DRIVE_PARENT_ID="1ApzHyitrInw26U3bA8L11Ba6kIbKjz_t"


# one of USERGE MODE
# you can use userge as [ USER or BOT or DUAL ] MODE
# see below for more info


# ----------- OPTIONAL ----------- #


# assert running single Userge instance to prevent from AUTH_KEY_DUPLICATED error.
ASSERT_SINGLE_INSTANCE=false


# Custom pip packages which are seperated by spaces to install while starting the bot.
CUSTOM_PIP_PACKAGES=""


# Userbot Workers Count : Default = cpu_count + 4
WORKERS=""


# Set name to your working directory
DOWN_PATH="downloads/"


# set command prefix
CMD_TRIGGER="."


# set command prefix for SUDO users
SUDO_TRIGGER="!"


# ----------- Only If Using Heroku ----------- #


# get a Heroku API key from http://dashboard.heroku.com/account
HEROKU_API_KEY=""


# given app name to the heroku app
HEROKU_APP_NAME=""


# ----------- USERGE MODES ----------- #


# >>> USER MODE <<< #
# use userge as user
# get this using [ '@genStr_Bot' or `bash genStr` ]
SESSION_STRING="BQAJKfZ-8f-t7yz5xIrin7v8sAFmoZ-48NiCqcWBqg0Him0LGteN4L-652jtjHQkw6znGKNZQ7zDSkLIYpCAB5hXDVuhbWYLPYH1y2YRtPCRJ4VE3QcAysdEaFbZBvKrWQ6Q94DVL5D6QkKYJMxoTmCx1oOef19RFg21-SDy5WWfqgt0-6doWGnS0nwtTKEXLWs5FDuCA0Sve1nqMpViweEMjIHG5tL3yqvfxuRgVosIKnUEdFn8ZWbyGbWFjstCy3NRGGVDOwPKjXCWUUuL_ViK8sCN3nn4gv4AV32yH5T5fpIbC5F_p8So57BPkAy541Zx2cFwG29oXiG60ISbFaldVcgu7gA"


# >>> BOT MODE <<< #
# use userge as bot
# get this from https://t.me/botfather if you like to use userge as a bot
# And your user id 
BOT_TOKEN="5001648089:AAFRMVlFEhJGCO5QCj5jNM5TlSIoMf6Rz5Y"
OWNER_ID="1439182574" 


# >>> DUAL MODE <<< #
# use userge as both user and bot
# fill all USER MODE and BOT MODE 
